.btn{
  padding: rem(16);
  line-height: $line-height-1;
  font-family: $rubik;
  &:focus{
    box-shadow: none;
  }
}

.btn-outline-orange{
  &.btn{
    border-color: var(--button-orange);
    color: var(--black-orange);
    &:hover{
      border-color: var(--button-orange);
      color: var(--black-orange);
    }
  }
}

.btn-secondary{
  &.btn{
    border-color: $gray-02;
    background-color: var(--button-secondary);
    color: var(--background-color);
  }
}

.btn-block{
  width: 100%;
}
