@font-face {
  font-family: $neurialGro;
  src: url(../fonts/NeurialGrotesk-Regular.otf);
  font-weight: $font-weight-normal;
}

@font-face {
  font-family: $rubik;
  src: url(../fonts/Rubik-Regular.ttf);
  font-weight: $font-weight-normal;
}
