<header>
  <div class="d-flex justify-content-between align-items-center text-theme px-4 header">
    <p class="heading h2 mb-0">Lorem Ipsum dolor sit amet</p>
    <div>
      <button class="btn btn-outline-orange me-2">Lorem Ipsum</button>
      <button class="btn btn-secondary">Lorem Ipsum</button>
    </div>
  </div>
</header>
<section>
  <div class="container main-container">
    <div class="row">
      <div class="col-xl-3 col-12">
        <div class="card custom-card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="text-muted font-size-lg mb-0">Lorem Ipsum</p>
              <button class="btn p-0 line-height-1"><i class="icon-edit"></i></button>
            </div>
            <hr class="border-color">
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-12">
        <div class="row">
          <div class="col-6">
            <div class="card custom-card">
              <div class="card-body">
                <p class="heading h1 mb-2">€ 0.000.000,00</p>
                <p class="text-muted mb-0">lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card custom-card">
              <div class="card-body">
                <p class="heading h1 mb-2">€ 0.000.000,00</p>
                <p class="text-muted mb-0">lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div class="card custom-card width-200 cursor-pointer mb-10">
              <div class="card-body">
                <div class="icon-highlight mb-10">
                  <i class="icon-edit-pencil text-white"></i>
                </div>
                <p class="text-muted mb-10">Lorem Ipsum</p>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div class="card custom-card width-200 cursor-pointer mb-10">
              <div class="card-body">
                <div class="icon-highlight mb-10">
                  <i class="icon-edit-pencil text-white"></i>
                </div>
                <p class="text-muted mb-10">Lorem Ipsum</p>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
